@import './variables.scss';


.card {
  display: flex;
  width: 100%;
  height: 100%;
  font-family:$Abel;
  text-shadow: 5px 5px 10px black;

.div-card {
  display: flex;
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
  .img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }

  .card-title{
    position: absolute;
    inset: auto auto 30px auto;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: $Abel;
    font-weight: bold;
    font-size: 1em;
  }

  .content {
    font-size: 0.7em;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  .content {
    inset: auto auto 90px 30px;
  }
  .button{
    font-size: 0.7em;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  .button{
    inset: auto auto 30px 30px;
    color: inherit;
    text-decoration: none;
  }
  &:hover .card-title{
    inset: auto auto 300px auto;
    transition: inset .3s ease-out;
  }
  &:hover .content, &:hover .button {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }

  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
}
}
  .material-symbols-outlined {
    vertical-align: middle;
  }